{% extends "layout.html" %}
{% from "components/post.html" import create_post %}

{% block title %}
Homepage
{% endblock %}

{% block main %}

<!-- TABS -->
<div
class="list-group d-flex flex-row text-center overflow-x-auto bg-light list-group-flush account-settings-links border-bottom mb-3">
<a href="/" class="list-group-item list-group-item-action">For You</a>
<a href="/friends" class="list-group-item list-group-item-action active">Friends</a>
</div>

{{ create_post(current_user) }}


{% endblock %}